<app-header></app-header>
<ion-content class="first-content">

  <ion-card class="welcome-card">
    <ion-card-header >
      <ion-card-subtitle>A watch tailored for you</ion-card-subtitle>
      <ion-card-title>Personalize</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div *ngIf="data">
    <div class="div1">
      <ion-slides [options]="option1">
        <ion-slide *ngFor="let element of this.data.bracelet">
          <ion-img class="custombracelet" src="{{ element.image }}" ></ion-img>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
