<ion-content class="first-content">

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>A watch tailored for you</ion-card-subtitle>
      <ion-card-title>Personalize</ion-card-title>
    </ion-card-header>
  </ion-card>

      <div class="div1">
        <ion-slides [options]="option1">
          <ion-slide>
            <ion-img class="custombracelet" src="assets/images/braceletbig1.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img class="custombracelet" src="assets/images/braceletbig2.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img class="custombracelet" src="assets/images/braceletbig3.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img class="custombracelet" src="assets/images/braceletbig4.png"></ion-img>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="div2">
        <ion-slides [options]="option1">
          <ion-slide>
            <ion-img class="cadran-img" src="assets/images/cadran11.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img class="cadran-img" src="assets/images/cadran22.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img class="cadran-img" src="assets/images/cadran33.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img class="cadran-img" src="assets/images/cadran44.png"></ion-img>
          </ion-slide>
        </ion-slides>
      </div>

</ion-content>
