.welcome-card{
  box-shadow: none;
}

ion-slide {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
}

.custombracelet{
  height: 390px;
}
.cadran-img{
  height: 107px;
  margin-top: 206%;
}

.div1 {
  width: 400px;
  height: 50px;
  position: absolute;
  top: calc(40% - 25px);
  left: calc(50% - 200px);
}

.div2 {
  height: 66px;
  width: 60px;
  position: absolute;
  top: calc(40% - 32px);
  left: calc(50% - 30px);
  z-index: 2;
  margin-left: 1px;
}
