<app-header></app-header>
<ion-content class="ion-padding">
  <div>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Mon profil</ion-card-title>
          </ion-card-header>
        </ion-card>
        <p>Changer mon mot de passe</p>
        <p>Changer mon mail</p>
        <p>Me déconnecter</p>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mes commandes</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list>
            <ion-item>
                <ion-card class="card-width">
                  <ion-grid>
                      <ion-row>
                          <ion-col>
                            <img class="images" src="https://images-na.ssl-images-amazon.com/images/I/71gdBQP%2BqGL._UY550_.jpg"/>
                          </ion-col>
                          <ion-col align-self-center>
                            <ion-card-content class="ion-text-center">
                                <p>159€</p>
                            </ion-card-content>
                          </ion-col>
                          <ion-col align-self-center>
                            <ion-card-content class="ion-text-center">
                                <p>17/15/2018</p>
                            </ion-card-content>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
                </ion-card>
            </ion-item>
            <ion-item>
                <ion-card class="card-width">
                  <ion-grid>
                      <ion-row>
                          <ion-col>
                            <img class="images" src="https://images-na.ssl-images-amazon.com/images/I/71gdBQP%2BqGL._UY550_.jpg"/>
                          </ion-col>
                          <ion-col align-self-center>
                            <ion-card-content class="ion-text-center">
                                <p>159€</p>
                            </ion-card-content>
                          </ion-col>
                          <ion-col align-self-center>
                            <ion-card-content class="ion-text-center">
                                <p>17/15/2018</p>
                            </ion-card-content>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
                </ion-card>
            </ion-item>
            <ion-item>
                <ion-card class="card-width">
                  <ion-grid>
                      <ion-row>
                          <ion-col>
                            <img class="images" src="https://images-na.ssl-images-amazon.com/images/I/71gdBQP%2BqGL._UY550_.jpg"/>
                          </ion-col>
                          <ion-col align-self-center>
                            <ion-card-content class="ion-text-center">
                                <p>159€</p>
                            </ion-card-content>
                          </ion-col>
                          <ion-col align-self-center>
                            <ion-card-content class="ion-text-center">
                                <p>17/15/2018</p>
                            </ion-card-content>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
                </ion-card>
            </ion-item>
            <ion-item>
                <ion-card class="card-width">
                  <ion-grid>
                      <ion-row>
                          <ion-col>
                            <img class="images" src="https://images-na.ssl-images-amazon.com/images/I/71gdBQP%2BqGL._UY550_.jpg"/>
                          </ion-col>
                          <ion-col align-self-center>
                            <ion-card-content class="ion-text-center">
                                <p>159€</p>
                            </ion-card-content>
                          </ion-col>
                          <ion-col align-self-center>
                            <ion-card-content class="ion-text-center">
                                <p>17/15/2018</p>
                            </ion-card-content>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
                </ion-card>
            </ion-item>
    </ion-list>
  </div>
  
</ion-content>

