<app-header></app-header>
<ion-content class="first-content">

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Just for you</ion-card-subtitle>
            <ion-card-title>Your Wishlist</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-list>
        <ion-item-sliding *ngFor="let wish of wishList">
            <ion-item>
                <ion-card>
                    <img src="{{wish.image}}"/>
                    <ion-card-content class="ion-text-center">
                        <ion-button color="dark" size="default" class="button-twice" (click)="share(wish.image)">Partager</ion-button>
                        <ion-button color="dark" size="default" class="button-twice" (click)="buyItem(wish._id)">Acheter</ion-button>
                        <ion-button color="dark" size="default" (click)="unLike(wish._id)">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-item-sliding>
    </ion-list>



</ion-content>
