<app-header></app-header>
<ion-content class="first-content">
    <p class="ion-padding">Vous inspirez la communauté, inspirez-vous aussi d'elle</p>
    <p class="ion-padding">#Paverkareesgi</p>
    <ion-grid *ngIf="rowLength && rowLength.length != 0">
        <ion-row *ngFor="let item of rowLength">
            <ion-col>
                <div>
                    <img src={{instagramAPI[addValue(item,0)].node.thumbnail_resources[0].src}} (click)="openNav(addValue(item,0))">
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <img src={{instagramAPI[addValue(item,1)].node.thumbnail_resources[0].src}} (click)="openNav(addValue(item,1))">
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <img src={{instagramAPI[addValue(item,2)].node.thumbnail_resources[0].src}} (click)="openNav(addValue(item,2))">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p *ngIf="!rowLength || rowLength.length == 0" class="ion-padding">
            Aucune image trouvée
    </p>
</ion-content>
<div id="myNav" (click)="closeNav()">
    <div class="overlay--containner">
        <img class="modal-image" id="image-modal" src={{imageZoom}}/>
    </div>
</div>
