

<ion-fab vertical="bottom" horizontal="center" tab="customizer" slot="fixed" [routerLink]="['/tabs/customizer']">
  <ion-fab-button>
    <ion-icon name="hammer"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wishList">
      <ion-icon name="heart"></ion-icon>
      <ion-label>WISHLIST</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="instaFeed">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>FEED</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
