ion-toolbar{
  position: absolute;
}
.first-content{
  margin-top: 150px;
}
.logo-img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  padding-top: 30px;
}

.basket-icon {
  font-size: 30px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: white;
}
